<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Bankovni račun</title>
	<link href="/bootstrap-4.0.0//css/bootstrap.min.css" rel="stylesheet"/>
	<!-- Bootstrap Core JavaScript -->
	<script src="/bootstrap-4.0.0/js/bootstrap.min.js"></script>
	<script src="/bootstrap-4.0.0/js/bootstrap.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	
</head>
<body>
	 <div th:fragment= "common-navbar"></div>
</body>
</html>