<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Autentifikacija</title>
</head>
<body>

<h1>Autentifikacija</h1>
<p th:if="${isWrongPassword == true}">Krivo korisničko ime ili lozinka!</p>


<form th:action="@{/login}" th:object="${accountInfo}" method="post">
    <table>
        <tr>
            <td>Korisničko ime:</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td><input type="password" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Ulogiraj se</button>
            </td>
        </tr>
    </table>
</form>



<h1>Rezultat:</h1>
<p th:text="'Dobrodošao, ' + ${accountInfo.username}" />
<p th:text="'Vaša lozinka: ' + ${accountInfo.password}" />


</body>
</html>