<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header">
    <title>Bank account</title>
</head>
<body>
<div class="container"> 
<div class="alert alert-info">
<h3>Otvaranje novog računa</h3>


<p th:if="${vecPostoji== true}">Račun s tim imenom već postoji!</p>
</div>
<div class="alert alert-success">
<form th:action="@{/clientcreate}" th:object="${clientInfo}" method="post">
    <table>
        <tr>
            <td>Korisničko ime</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td>Lozinka</td>
            <td><input type="password" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success">Otvori račun</button>
            </td>
        </tr>
    </table>
</form>

<p th:if="${noviKlijentIme != null}">Uspješno ste otvorili račun! </p>
</div>

<p><a href="/">Povratak na početnu</a></p>
<p><a href="/login">Ulogiraj se</a></p>
</div>> 
</body>
</html>