<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header">
    <title>Autentifikacija</title>
</head>
<body>
<div class="container"> 
<div class="alert alert-info">
<h3>Autentifikacija</h3>

<p th:if="${isWrongPassword == true}">Krivo korisničko ime ili lozinka!</p>
</div>
<div class="alert alert-success">
<form th:action="@{/login}" th:object="${clientInfo}" method="post">
    <table>
        <tr>
            <td>Korisničko ime:</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td><input type="password" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success">Ulogiraj se</button>
            </td>
        </tr>
    </table>
</form>
<p><a href="/">Povratak na početnu</a></p>
</div>
</div>
</body>
</html>