<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header">
    <title>Izdavanje transakcije</title>
</head>
<body>
<div class="container"> 
<h3>Izdavanje transakcije</h3>

<p>Ulogirani ste.Izdavanje transakcije slijedi.</p>
<div class="alert alert-info">
<h4>Otvaranje nove transakcije</h4>
<p th:if="${isWrongBalance == true}">Prevelik iznos transakcije!</p>
<p th:if="${isWrongDestination == true}">Unesi točan broj računa primatelja!</p>
</div>
<div class="alert alert-success">
<form th:action="@{/transactioncreate}" th:object="${transactionInfo}" method="post">
    <table>
	     <tr> 
            <td>Broj računa izvršitelja :</td>
            <td><input type="number" th:field="*{sourceIban}"/></td>
        </tr>
        <tr> 
            <td>Broj  računa primatelja:</td>
            <td><input type="number" th:field="*{destinationIban}"/></td>
        </tr>
        <tr>
            <td>Iznos transakcije:</td>
            <td><input type="number" th:field="*{amount}"/></td>
        </tr>
        <tr>
            <td>
           
                <button type="submit" class="btn btn-success">Izvrši transakciju</button>
            </td>
        </tr> 
    </table>
</form>
</div>
</div>


</body>
</html>