<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Popis transakcija</title>
</head>
<body>

<h1>Popis transakcija</h1>

<p>Ovo su vaše transakcije.Možete ih filtrirati po statusu.</p>


    <table>
        <tr >
            <td>Vaš broj računa:</td>
            <td th:text="${transactionInfo}"></td>
            <td>Vaše transakcije:</td>
        </tr>
            <tr th:each="trans,iterationStatus: ${transactionsStatus}">
        	<td th:text="${iterationStatus.count}">1</td>
            <td>Broj računa uplate:</td>
            <td th:text="${trans.destinationIban}"></td>
            <td>Iznos transakcije:</td>
            <td th:text="${trans.balance}"></td>
        </tr>
    </table>


</body>
</html>