<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header">
    <title>Detalji transakcije</title>
</head>
<body>

<h3>Detalji transakcije</h3>

<table border="1">
     <tr id="header">
   	 	<td>Id transakcije:</td> 
   	 	<td>IBAN uplatitelja transakcije:</td>
   	 	<td>IBAN primatelja transakcije:</td>
 		<td>Iznos transakcije:</td>
   	 	<td>Status transakcije:</td>
   	 	<td>Vrijeme transakcije:</td>
   	 	<td>Verificiran:</td>       
    </tr>
        <tr>
   		 <td th:text="${id}"></td>
   		 <td th:text="${sourceIban}"></td>
         <td th:text="${destinationIban}"></td>
         <td th:text="${balance}"></td>
         <td th:text="${status}"></td>
         <td th:text="${time}"></td>
         <td th:text="${verified}"></td>
    </tr>
</table>
<a th:text="Izvrsi" th:href="@{|/transaction/all/${id}/izvrsi|}"></a>
<a th:text="Odbij" th:href="@{|/transaction/all/${id}/odbij|}"></a>


<p th:if="${isSuccess== false}">Neuspješna promjena statusa transakcije!</p>
<p th:if="${isSuccess== true}">Status transakcije je uspješno promijenjen.</p>

</body>
</html>