<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header">
    <title>Popis transakcija</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container"> 
<h2>Pregledaj transakcije po statusu</h2>


<h3>Popis transakcija</h3>
<p>Ovo su vaše transakcije. Možete ih filtrirati po statusu.</p>
<table border="1">
     <tr id="header">
   	 	<td><b>Vaš broj računa:</b></td>
        <td th:text="${transactionInfo}"><b></b></td>
    </tr>
<p><b>Vaš broj računa</b></p>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Prikaži</button>    
<div id="demo" class="collapse">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
<p th:text="${transactionInfo}"></p>
</div>   
</table>
<p>Filtriraj po statusu transakcije:</p>
<div class="form-group">		
<select id="trans">
  <option value="">Odaberi status</option>
  <option value="zadan">ZADAN</option>
  <option value="odbijen">ODBIJEN</option>
  <option value="izvrsen">IZVRŠEN</option>
</select>
</div>

<table class ="zadan">
     <tr class = 'table table-info'>
   	 	<td>Broj računa uplate:</td> 
   	 	<td>Iznos transakcije:</td>
   	 	<td>Status transakcije:</td>   
    </tr>
    <tr th:each="t : ${transactionsZadan}">
         <td th:text="${t.destinationIban}"></td>
         <td th:text="${t.balance}"></td>
         <td th:text="${t.status}"></td>
    </tr>
</table>

<table class = "odbijen">
    <tr class = 'table table-danger'>
   	 	<td>Broj računa uplate:</td> 
   	 	<td>Iznos transakcije:</td>
   	 	<td>Status transakcije:</td>   
    </tr>
    <tr th:each="t : ${transactionsOdbijen}">
         <td th:text="${t.destinationIban}"></td>
         <td th:text="${t.balance}"></td>
         <td th:text="${t.status}"></td>
    </tr>
</table>

<table class ="izvrsen">
    <tr class = 'table table-success'> 
   	 	<td>Broj računa uplate:</td> 
   	 	<td>Iznos transakcije:</td>
   	 	<td>Status transakcije:</td> 
    </tr>
    <tr th:each="t : ${transactionsIzvrsen}">
         <td th:text="${t.destinationIban}"></td>
         <td th:text="${t.balance}"></td>
         <td th:text="${t.status}"></td>
    </tr>
</table>


<p><a href="/">Povratak na početnu</a></p>
<p><a href="/login">Napravi transakciju</a></p>
</div>
   <script>
$(document).ready(function () {
    $("#trans").change(function () {
        var selected = $(this).val();

        if (selected != '') {
            var values = $.map($('#trans>option'), function (e) {
                return e.value;
            });

            values.forEach(function (item) {
                if (item != '') {
                    if (selected == item) {
                        $('.' + item).show();
                    } else {
                        $('.' + item).hide();
                    }
                } else {
                    //Show all rows
                }
            });
        } else {
            $('table').show();
        } });
});
    
</script> 
</body>
</html>