<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header">
    <title>Popis svih transakcija</title>
</head>

<h2>Popis svih transakcija:</h2>

<p>Filtriraj po statusu transakcije:</p>		
<select id="trans">
  <option value="">Odaberi status</option>
  <option value="zadan">ZADAN</option>
  <option value="odbijen">ODBIJEN</option>
  <option value="izvrsen">IZVRŠEN</option>
  </select>
<table class ="zadan" border="1">
     <tr id="header">
   	 	<td>Id:</td> 
   	 	<td>Iznos transakcije:</td>
   	 	<td>Status transakcije:</td>
   	 	<td>   </td>    
    </tr>
    <tr th:each="t: ${transactionsZadan}">
         <td th:text="${t.id}"></td>
         <td th:text="${t.balance}"></td>
         <td th:text="${t.status}"></td>
         <td><a th:text="Detalji" th:href="@{|/transaction/all/${t.id}|}"></a></td>
    </tr>
</table>

<table class = "odbijen" border="1">
    <tr id="header">
   	 	<td>Id:</td> 
   	 	<td>Iznos transakcije:</td>
   	 	<td>Status transakcije:</td>
   	 	<td>   </td>    
    </tr>
    <tr th:each="t : ${transactionsOdbijen}">
         <td th:text="${t.Id}"></td>
         <td th:text="${t.balance}"></td>
         <td th:text="${t.status}"></td>
          <td><a th:text="Detalji" th:href="@{|/transaction/all/${t.id}|}"></a></td>
    </tr>
</table>

<table class ="izvrsen" border="1">
    <tr id="header"> 
   	 	<td>Id:</td> 
   	 	<td>Iznos transakcije:</td>
   	 	<td>Status transakcije:</td>
   	 	<td>     </td>  
    </tr>
    <tr th:each="t : ${transactionsIzvrsen}">
         <td th:text="${t.id}"></td>
         <td th:text="${t.balance}"></td>
         <td th:text="${t.status}"></td>
         <td><a th:text="Detalji" th:href="@{|/transaction/all/${t.id}|}"></a></td>
    </tr>
</table>


<p><a href="/">Povratak na početnu</a></p>


   <script>
$(document).ready(function () {
    $("#trans").change(function () {
        var selected = $(this).val();

        if (selected != '') {
            var values = $.map($('#trans>option'), function (e) {
                return e.value;
            });

            values.forEach(function (item) {
                if (item != '') {
                    if (selected == item) {
                        $('.' + item).show();
                    } else {
                        $('.' + item).hide();
                    }
                } else {
                    //Show all rows
                }
            });
        } else {
            $('table').show();
        } });
});
    
</script> 


<body>

</body>
</html>
